* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
}
ol, ul {
	list-style: none;
}
del {
	text-decoration: line-through;
}
body {
	font-family: 'baloo_paaji_2regular';
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
}
input,textarea,select{
	/* font-family: "GT-Eesti", Arial, Helvetica, sans-serif; */
	font-weight: 500;
}

.ancr{
    
	color: rgb(81, 56, 190);
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}

.hidden{
	display:none;
}
br.clear {
	clear: both;
	line-height: 0;
}
img{
	display: block;
}

#main{
	display: flex;
	
}
#main .left{
	max-height: 100vh;
	min-height: 100vh;
	min-width: 20%;
	max-width: 20%;
	position:fixed;
	z-index: 10;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	box-shadow: 2px 3px 4px rgba(0,0,0,0.5); 
}
#main .left-top{
	min-height: 80px;
	display: flex;
	align-items: center;
	width: 100%;
	border-bottom: 1px solid #c2cfe0;
	margin-bottom: 20px;
	box-shadow: 2px 3px 4px rgba(0,0,0,0.5); 
}
#main .left-top h1{
	font-size: 24px;
	font-weight: 600;
	padding-left: 20px;
	color: #109cf1;
}
#main .left-middle{
	margin-bottom: 30px;

}
#main .left-middle .profile{
	display: flex;
	align-items: center;
}
#main .left-middle .profile .profile-left{
	width: 20%;
}
#main .left-middle .profile .profile-left .img-box{
	width: 90%;
}
#main .left-middle .profile .profile-left .img{
	display: block;
	width: 100%;
} 
#main .left-middle .profile .profile-right{
	margin-left: 10px;
}
#main .left-middle .profile .profile-right h5{
	font-size: 18px;
}
#main .left-middle .profile .profile-right p{
	font-size: 14px;
	margin-top: 5px;
}
#main .left-middle .categories{
	margin-top: 40px;
	border-bottom: 1px solid #c2cfe0;
}
#main .left-middle .categories ul{
	width: 90%;
	margin: 0 auto;
}
#main .left-middle .categories ul li{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

#main .left-middle .categories ul li h5{
	margin-left: 20px;
	color: #000;
}
#main .left-middle .categories ul li h5.blue{
	color:#109cf1;
}

#main .left-middle .categories ul li img{
	display: block;
}

#main .left-middle .settings{
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}
#main .left-middle .settings img{

}
#main .left-middle .settings h5{
	margin-left: 20px;

}
#main .right-main{
	width: 80%;
	position: absolute;
	position:fixed;
	z-index: 5;
	top: 0%;
	right: 0%;
	background: #fff;
	box-shadow: 2px 3px 4px rgba(0,0,0,0.5); 
}
#main .right-main div.top{
	max-height: 80px;
	min-height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid #c2cfe0;
}
#main .right-main div.top div.right-top-left{
	width: 20px;
}
#main .right-main div.left img{
	display: block;
	width: 100%;
}
#main .right-main div.top form{
	width: 90%;
	margin-right: 15px;
}
#main .right-main div.top form input{
	width: 100%;
	padding: 20px 0;
}
#main .right-main div.top div.right{

}
#main .right-main div.top div.right img{

}

section#contact{
	position: relative;
}
#contact div.list-items{
	width: 76%;
	right:1%;
	top:100px;
	position: absolute;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: 20px 10px;
}
#contact div.list-items table{
	width: 100%;
	border-spacing: 1em;
}
.table-row {
	display: table-row
  }
#contact div.list-items tr{
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid black;
} */
#contact div.list-items td{
	margin-right: 3px;
}
#contact div.list-items p{
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	color:#90a0b7;
}
#contact div.list-items p.title{
	font-size: 14px;
}
#contact div.list-items p.name{
	color:#000;
	font-weight: 500;
	font-size: 15px;
}

section#dashboard-section { 
    width: 60%;
	left:22%;
	top:100px;
	position: absolute;
	padding: 20px 10px;
}

section#dashboard-section div.left { 
    width: 78%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5%;
}

section#dashboard-section div.left div.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
section#dashboard-section div.left div.top p.task { 

}

section#dashboard-section div.left div.top p.show { 

}

section#dashboard-section div.left div.top p.show b {

color: #2daafd;
}

section#dashboard-section div.left div.border {
    width: 100%;
    height: 5px;
    background: #a9a9a9;
    margin-bottom: 5%;
}

section#dashboard-section div.left div.border div.green { 
    width: 80%;
    height: 5px;
    background:#2ed479;
}
section#dashboard-section div.left p.datee {
    font-weight: 900;
    margin-bottom: 5%;
}
section#dashboard-section div.left ul.calender {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #a9a9a9;
    margin-bottom: 5%;
    padding: 3% 0;
}

section#dashboard-section div.left ul.calender li p:hover { 
    color: #119def;
    cursor: pointer;
}

section#dashboard-section div.left ul.calender li p.day { 

}

section#dashboard-section div.left ul.calender li p.date { 

}

section#dashboard-section div.left ul.task { 

}

section#dashboard-section div.left ul.task li { 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 2% 4%;
    margin-bottom: 5%;
    border-radius: 10px;
}

section#dashboard-section div.left ul.task li div.top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

section#dashboard-section div.left ul.task li div.top p.day {
    font-weight: 700;
}

section#dashboard-section div.left ul.task li div.top p.reminder { 

}

section#dashboard-section div.left ul.task li p.date {
    color: #a9a9a9;
}

section#dashboard-section div.left ul.task li div.user {
    justify-content: space-between;
    display: flex;
    align-items: center;
}

section#dashboard-section div.left ul.task li div.user div.man {
    width: 5%;
}

section#dashboard-section div.left ul.task li div.user div.man img { 

}

section#dashboard-section div.left ul.task li div.user p.name {
    width: 50%;
}

section#dashboard-section div.left ul.task li div.user div.complete {
    color: #fff;
    font-weight: 500;
    padding: 2% 5%;
    border-radius: 9px;
    background: #2ed479;
    font-weight: 600;
}
section#dashboard-section div.left ul.task li div.user div.complete:hover {
    cursor: pointer;
}
section#dashboard-section div.left ul.task li div.user div.end {
    color: #fff;
    font-weight: 500;
    padding: 2% 5%;
    border-radius: 9px;
    background: #f8675b;
    font-weight: 600;
}
section#dashboard-section div.left ul.task li div.user div.end {
    cursor: pointer;
}
section#dashboard-section div.left a.footer {
    display: block;
    width: 100%; 
    text-align: center;
    color: #119def;
    font-weight: 800;
}
section#dashboard-section div.left a.footer:hover {
    cursor: pointer;
}

section#pie{
	width: 100%;
}
section.right-pie{
	position: absolute;
	right: 2%;
	bottom:-30%;
	width: 25%;
}
#demo-graph{

}






